@page "/BackEndPages/Logout"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using StaffingSolution.Interfaces
@using StaffingSolution.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
<h3>Logout</h3>

<p>Du har blivit utloggad...</p>