@page "/BackEndPages/Register"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using StaffingSolution.Interfaces
@using StaffingSolution.Services
@inject IAuthService AuthService

<link href="/css/register.css" rel="stylesheet" />

<h3>Registrera dig</h3>

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">@successMessage</div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<EditForm Model="registerModel" OnValidSubmit="RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="email">E-post</label>
        <InputText id="email" @bind-Value="registerModel.Email" class="form-control" />
        <ValidationMessage For="() => registerModel.Email" />
    </div>

    <div>
        <label for="password">Lösenord</label>
        <InputText id="password" @bind-Value="registerModel.Password" type="password" class="form-control" />
        <ValidationMessage For="() => registerModel.Password" />
    </div>

    <div>
        <label for="confirmPassword">Bekräfta lösenord</label>
        <InputText id="confirmPassword" @bind-Value="registerModel.ConfirmPassword" type="password" class="form-control" />
        <ValidationMessage For="() => registerModel.ConfirmPassword" />
    </div>

    <button type="submit">Registrera</button>
</EditForm>


