@page "/ApplicationPages/Application"
<link href="/css/Application.css" rel="stylesheet" />

<div class="application-container">
    <h1> Tack för din ansökan!</h1>
    <p>Vi har mottagit din ansökan och återkommer så snart som möjligt.</p>

    <a href="/" class="back-button">Tillbaka till startsidan</a>
</div>