
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background: #e66296;
    background: linear-gradient(135deg, green, blue 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
