header {
    background-color: #333; /* Mörk bakgrund på navbaren */
    padding: 20px 10px;
    display: flex;
    justify-content: center; /* Centrerar hela navbarens innehåll */
    align-items: center;
    position: relative; /* Behövs för att placera logotypen */
    z-index: 1;
}

    header .logo {
        max-width: 50px; /* Logotypens storlek */
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
        cursor: pointer;
        position: absolute;
        left: 550px; /* Placerar logotypen till vänster */
        top: 6px;
    }
        header .logo:hover {
            transform: scale(1.2); /* Förstorar logotypen vid hover */
            box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); /* Glow-effekt vid hover */
        }
    header nav ul {
        display: flex;
        gap: 15px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        header nav ul li a {
            text-decoration: none;
            color: white; /* Vit färg på texten i navbaren */
            font-weight: bold;
        }

            header nav ul li a:hover {
                color: #002d50; /* Highlight color inspired by Libera */
            }

