.job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.job-card {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-width: 200px;
}

    .job-card:hover {
        transform: scale(1.05);
    }

    .job-card img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .job-card h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .job-card p {
        font-size: 1.3rem;
        margin-bottom: 30px;
        color: white;
    }
